

<section class="w-75 m-auto">
    <h3>Register Form</h3>
    <form [formGroup]="signInForm" (submit)="sendData(signInForm)">
        <div class="my-3">
            <label for="email" class="my-2"> Email : </label>
            <input type="email" formControlName="email" class="form-control"/>
            <div *ngIf="signInForm.get('email')?.errors && signInForm.get('email')?.touched">
                <p *ngIf="signInForm.get('email')?.getError('email')" class="alert alert-danger p-1 m-1">invalid email format</p>
                <p *ngIf="signInForm.get('email')?.getError('required')" class="alert alert-danger p-1 m-1"> name is required</p>
            </div>
        </div>
        <div class="my-3">
            <label  for="password" class="my-2">password : </label>
            <input type="password" formControlName="password" class="form-control"/>
            <div *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.touched">
                <p *ngIf="signInForm.get('password')?.getError('pattern')" class="alert alert-danger p-1 m-1">password must start with Upper case</p>
                <p *ngIf="signInForm.get('password')?.getError('required')" class="alert alert-danger p-1 m-1"> name is required</p>
            </div>
        </div>
        <button [disabled]="signInForm.invalid" class="btn btn-primary">
            <ng-container *ngIf="!isLoading; else loadingTemplate">Register</ng-container>
            <ng-template #loadingTemplate>Loading...</ng-template>
        </button>
        <p class="fw-bold text-danger">{{userMessage}}</p>
    </form>
</section>

